/*superElement for background-color*/


/*Navigation bar*/
#firstAnch
{
	margin-left: 25px;
}

.span12
{
	margin-bottom: 25px;
	max-width: 100%;
	background-color: white;
}



/*throw msg*/
.error_msg
{   
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	
	padding:15px 10px 15px 15px;
	
	color: #D8000C;
	background-color: #FFBABA;
	border: 1px solid;
	border-color: #D8000C;

	text-align: center;
}

.message
{
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	
	padding:15px 10px 15px 15px;
	
	color: #4F8A10;
	background-color: #DFF2BF;
	border: 1px solid;
	border-color: #4F8A10;

	text-align: center;
}

/*Login/Signup forms*/
#main 
{
	
	display: block;
	
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	
	
}

#login
{
	border: 1px solid;
	border-color: #ecf0f1;
	max-width: 400px;
	border-radius: 7.5px;
	
	margin-left: auto;
	margin-right: auto;
	
	padding-left: 30px;
	padding-right: 30px;
	
	padding-bottom: 15px;
	
	background-color: #ecf0f1;
}

#login input 
{
	float: right;
	height: 27px;
	outline: none;
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 2px;
}

#login input:focus
{
	border: 1px solid #9b59b6;
}

#login button
{
	float: right;
	height: 30px;
	outline: none;
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 2px;
}

#register_btn
{
	float: right;
	height: 30px;
	outline: none;
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 2px;
}

#login button:hover
{
	background-color: blueviolet;
	color: white;
}

#landingBody
{
	background-image: url(../images/image1.png);
	overflow: hidden;
	
	background-size: auto;
	background-repeat: no-repeat;
	
	z-index: 999;
}

#wrapper h1
{
	color: white;
	padding: 7.5px;
/*	background-image: url(../images/transparentbg.png);*/
	
	font-family: 'Berkshire Swash', cursive;
	
	max-width: 5.9em;
	
	font-size: 4.33em;
}

#wrapper
{	
	display: inline-block;
	max-width: 400px;
	margin-left: -25;
	margin-right: auto;
	
	margin-top: 275px;
	
	float: left;
}

#wrapper_Wrapper
{
	display: inline-block;
	background-image: url(../images/transparentbgwhite2.png);
	
	min-width: 525px;
	max-width: 525px;
	
	margin-top: 50px;
	
	margin-left: auto;
	margin-right: -75;
	padding-left: 7.5px;
	padding-right: 7.5px;
	
	padding-top: -5px;
	
	float: right;
}

#wrapper_Wrapper h2
{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: center;
	
	font-weight: bold;
}

#wrapper_Wrapper p
{
/*	text-align: center;*/
	font-size: 1.15em;
	
	margin-left: 15px;
	margin-right: 15px;
}

#wrapper_Wrapper li
{
	
	font-size: 1.65em;
	font-family: 'Yanone Kaffeesatz', sans-serif;
/*	list-style: none;*/
	margin-right: 15px;
}

#wrapper_Wrapper span
{
	font-weight: bold;
}

/*
#fbLandingLogin
{
	width: 200px;
	height: 40px;
	background-color: dodgerblue;
}

#fbLandingLogin
{
	text-align: center;
}
*/

#fbLandingLogin {
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background-image: url(../images/fbBtn.png);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
	width: 280px;
	
	margin-left: auto;
	margin-right: auto;
}

#fbLandingLogin:hover {
  background: #3cb0fd;
  background-image: url(../images/fbBtn_press.png);
/*
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
*/
  text-decoration: none;
}

#fbLandingLogin a
{
	color: white;
	margin-left: 55px;
}
}